[submodule ".config/vim/vials-available/ultisnips"]
	path = .config/vim/vials-available/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".config/vim/vials-available/vim-fugitive"]
	path = .config/vim/vials-available/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".config/vim/vials-available/vim-surround"]
	path = .config/vim/vials-available/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".config/vim/vials-available/SimpylFold"]
	path = .config/vim/vials-available/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule ".config/vim/vials-available/colorscheme-vim-fahrenheit"]
	path = .config/vim/vials-available/colorscheme-vim-fahrenheit
	url = https://github.com/fcpg/vim-fahrenheit.git
[submodule ".config/vim/vials-available/jellybeans.vim"]
	path = .config/vim/vials-available/jellybeans.vim
	url = https://github.com/corriander/jellybeans.vim
[submodule "/home/alex/.local/share/tmux/plugins/tpm"]
	path = /home/alex/.local/share/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
